@import "tailwindcss";

@plugin "daisyui";
@plugin "daisyui" {
  themes: dark, light;
}

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  --color-primary: #ff0000;
  --color-secondary: #AD0303;
  --color-neutral: #ffffff;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #ff0000;
  --color-secondary: #FC6529;
  --color-neutral: #000000;
}
