@import "tailwindcss";
/* filepath: c:\Users\user\Documents\大學\113-2\跨平台前端工程設計\Project\React Midterm\src\index.css */
html,
body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  width: 100%; /* Ensure it spans the full width */
  height: 100%; /* Ensure it spans the full height */
}

#root {
  width: 100%; /* Ensure the root container spans the full width */
  height: 100%; /* Ensure the root container spans the full height */
}